[submodule ".vim/pack/plugins/opt/jedi-vim"]
	path = .vim/pack/plugins/opt/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule ".vim/pack/plugins/opt/vim-go"]
	path = .vim/pack/plugins/opt/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/pack/plugins/start/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf
